body {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 520px;
    border: 3px solid rgb(80, 78, 77);
    padding: 5px;
    background-color:rgb(0, 0, 0);
    text-align: center;
  }

header {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    padding: 10px;
    text-align: center;
}

.main {
  padding: 10px;
  background-color: rgb(203, 203, 203);
}

.control {
  display: flex;
}

.heater {
  flex: 1; /* additionally, equal width */
  padding: 1em;
  border: 1px solid #cccccc;
  background-color: grey; 
  text-align: center;
}

.window {
  flex: 1; /* additionally, equal width */
  padding: 1em;
  border: 1px solid #cccccc;
  background-color: grey; 
  text-align: center;
}

.status {
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #393939;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.read {
  margin-top: 15px ;
  margin-bottom: 15px;
  padding: 20px;
  border:1px solid #5f5959;
  display: auto;
  background-color: rgb(229, 207, 207);
}

.setlight {
  padding: 1em;
  border:1px solid #cccccc;
  display: auto;
  background-color: grey; 
}

.read h2 {
  text-align: center;
}

.readings {
  display: flex;
}

.readings p {
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
}

footer {
  text-align: center;
  font-size: 12px;
  color: #5f5959;
  padding-top: 1em;
}